@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.page {
  margin: 0 auto;
  max-width: 1000px;
}
.slideshow {
  overflow: hidden;
  position: relative;
  padding-top: 29.0625%;
}
.slideshow__slides {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}
.slideshow__slides .slide img {
  position: absolute;
}
.slideshow__nav a {
  position: absolute;
  top: 50%;
  margin-top: -36px;
}
.slideshow__nav a:before {
  display: inline-block;
  content: "";
  background-image: url('../img/sprites.png');
  width: 72px;
  height: 72px;
}
.slideshow__nav .slide-nav--prev {
  left: 0;
}
.slideshow__nav .slide-nav--prev:before {
  background-position: 160px -20px;
}
.slideshow__nav .slide-nav--next {
  right: 0;
}
.slideshow__nav .slide-nav--next:before {
  background-position: 80px -20px;
}
.slide-indicator a:before {

}
